<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ToteBag</title>
    <link rel = "stylesheet" href = "/css/site.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <% include templates/header.ejs %>

      <div class = "container-fluid">
          <div class = "row">
              <div class = "col-sm-2 col-md-2 col-lg-2"></div>
              <div class = "col-sm-8 col-md-8 col-lg-8">

                    <div id = "searchBar" class = "input-group input-group-lg">
                        <input type = "text" class = "form-control" placeholder = "Search" id = "searchText">
                        <div class = "input-group-btn">
                            <button class = "btn btn-primary" id = "searchButton"><i class = "fa fa-search"></i></button>
                        </div>
                    </div>
                    <div id = "searchResults">
                    </div>

              </div>
              <div class = "col-sm-2 col-md-2 col-lg-2"></div>
          </div>
      </div>

      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="js/actions.js" auth=<%= token %>></script>
      <style>
          #searchBar{
              margin-top: 100px;
              margin-bottom: 30px;
          }
          #token,
          #hid{
              visibility: hidden;
          }
          .resource{
              background-color: #efe469;
              font-size: 18px;
              margin-top: -20px;
              cursor: hand;
              cursor: pointer;
          }
          .resourceInfo{
              background-color: #77b77a;
              display: none;
          }
          .ownerID, .resourceID{
              display: none;
          }

      </style>

  </body>
</html>
