<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>ToteBag</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    </head>
    <body>
        <% include templates/header.ejs %>
        <div class = "row">
            <div class = "col-md-2 col-md-2 col-lg-2"></div>
            <div class = "jumbotron col-md-8 col-md-8 col-lg-8"id = "shareBox" >

                <div class = "text-center">
                    <i class = "fa fa-bullhorn fa-5x fa-lg"></i>
                </div>
                <div class = "dropdown text-center">
                    <span class = "changeFont">
                    What do you want to share?</span>
                    <br>

                    <div class = "dropdown-toggle" data-toggle = "dropdown">
                        <span id = "currResource">Pick Something</span>
                        <span class = "caret"></span>
                    </div>
                    <div class = "resourceMenu text-center">
                        <div id = "bookResource">Book</div>
                        <div id = "musicResource">Music</div>
                        <div id = "movieResource">Movie</div>
                    </div>
                    <div id = "addBook">
                        <div class = "form-group">
        					<label for = "btitle" class = "control-label col-md-2">Title: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "btitle">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "author" class = "control-label col-md-2">Author: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "author">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "bgenre" class = "control-label col-md-2">Genre: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "bgenre">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "bquality" class = "control-label col-md-2">Quality: </label>
                            <div class = "col-md-3 text-left">
        						<label><input type = "radio" name = "bquality" value = "Paperback">Paperback</label>
                            </div>
                            <div class = "col-md-3 text-left">
                                <label> <input type = "radio" name = "bquality" value = "Hardcover">Hardcover</label>
        					</div>
                            <div class = "col-md-3 text-left">
                                <label> <input type = "radio" name = "bquality" value = "Digital Copy">Digital Copy</label>
        					</div>
                            <div class = "col-md-5"></div>
        				</div>
                        <div class = "text-center">
                            <button class = "btn btn-default" id = "dummyButton">Dummy</button>
                        </div>
                        <div class = "text-center form-group">
                            <button class = "btn btn-primary" id = "bshareButton">Share</button>
                            <button class = "btn btn-danger" id = "bresetButton">Reset</button>
                        </div>
                    </div>

                    <div id = "addMusic">
                        <div class = "form-group">
        					<label for = "mtitle" class = "control-label col-md-2">Title: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "mtitle">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "artist" class = "control-label col-md-2">Artist: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "artist">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "mgenre" class = "control-label col-md-2">Genre: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "mgenre">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "bitrate" class = "control-label col-md-2">Bitrate: </label>
                            <div class = "col-md-2 text-left">
        						<label><input type = "radio" name = "bitrate" value = "64kbps">64kbps</label>
                            </div>
                            <div class = "col-md-2 text-left">
                                <label> <input type = "radio" name = "bitrate" value = "128kbps">128kbps</label>
        					</div>
                            <div class = "col-md-2 text-left">
                                <label> <input type = "radio" name = "bitrate" value = "320kbps">320kbps</label>
        					</div>
                            <div class = "col-md-4"></div>
        				</div>
                        <div class = "text-center">
                            <button class = "btn btn-default" id = "dummyButton">Dummy</button>
                        </div>
                        <div class = "text-center form-group">
                            <button class = "btn btn-primary" id = "mshareButton">Share</button>
                            <button class = "btn btn-danger" id = "mresetButton">Reset</button>
                        </div>
                    </div>

                    <div id = "addMovie">
                        <div class = "form-group">
        					<label for = "movtitle" class = "control-label col-md-2">Title: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "movtitle">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "director" class = "control-label col-md-2">Director: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "director">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "movgenre" class = "control-label col-md-2">Genre: </label>
        					<div class = "col-md-10">
        						<input type = "text" class = "form-control" id = "movgenre">
        					</div>
        				</div>
        				<div class = "form-group">
        					<label for = "movquality" class = "control-label col-md-2">Quality </label>
                            <div class = "col-md-2 text-left">
        						<label><input type = "radio" name = "movquality" value= "360p">360p</label>
                            </div>
                            <div class = "col-md-2 text-left">
                                <label> <input type = "radio" name = "movquality" value = "720p">720p</label>
        					</div>
                            <div class = "col-md-2 text-left">
                                <label> <input type = "radio" name = "movquality" value = "1080p">1080p</label>
        					</div>
                            <div class = "col-md-2 text-left">
                                <label> <input type = "radio" name = "movquality" value = "Blu-ray">Blu-ray</label>
        					</div>
                            <div class = "col-md-2"></div>
        				</div>
                        <div class = "text-center">
                            <button class = "btn btn-default" id = "dummyButton">Dummy</button>
                        </div>
                        <div class = "text-center form-group">
                            <button class = "btn btn-primary" id = "movshareButton">Share</button>
                            <button class = "btn btn-danger"id = "movresetButton">Reset</button>
                        </div>
                    </div>

                </div>
                <div class = "shareError text-center" style = "color: red"></div>
                <div id = "shareResult" class = "text-center"></div>
            </div>
            <div class = "col-md-2 col-md-2 col-lg-2"></div>
        </div>

        <script src="/js/actions.js"></script>
        <style>
            body{
                font-family: 'Bree Serif', serif;
            }
            #shareBox{
                margin-top: 70px;
            }
            #token,
            #hid{
                visibility: hidden;
            }
            .fa-bullhorn{
                font-size: 200px;
                margin-bottom: 20px;
            }
            .resourceMenu{
                display: none;
                font-family: 'Bree Serif', serif;
                font-size: 15px;

            }
            #addBook, #addMovie, #addMusic{
                display: none;
            }
            .caret{
                cursor: hand;
                cursor: pointer;
                font-size: 30px;
            }
            #bookResource, #musicResource, #movieResource{
                cursor: hand;
                cursor: pointer;
            }
            #dummyButton{
                visibility: hidden;
            }
            #shareResult{
                font-size: 20px;
            }
            .changeFont{
                font-size: 40px;
            }
            #currResource{
                font-size: 30px;
                cursor: hand;
                cursor: pointer;
            }
            .shareError{
                font-size: 15px;
            }
            body{
                padding: 50px;
                background-image: url("http://eskipaper.com/images/tumblr-backgrounds-9.jpg");
                background-repeat: no-repeat;
                background-position: center;
            }
        </style>

    </body>
</html>
