/*.center-pane{
  margin: 50px;
}
.btn-primary{
  background-color: red;
}*/

.mainDiv{
    margin-top: 50px;
    margin-bottom: 50px;

}
.jumbotron{
    opacity: 1.0;
}
input{
    border-radius: 3px;
    border-style: groove;
    /*border:1px solid #cccccc*/
}
/*#centerPane{
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}*/
.brand{

    font-size: 100px;
}

#tb{
    color: #cc6512;
    font-size: 30px;

}

body{
        background-image: url("http://eskipaper.com/images/tumblr-backgrounds-9.jpg");
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Bree Serif', serif;
}
